.container {
  width: 100%;
  overflow: auto;
  height: 100vh;
}

.page_content {
  position: sticky;
  left: 0px;
}

.calendar_table {
  display: inline-block;
}

.table_text_container {
  position: sticky;
  left: 0px;
  z-index: 3;
  background-color: #F8F9FA;
}

.table_title_container {
  margin-top: 48px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  color: #000000;
}

.table_action_container {
  padding: 24px 0px;
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 3;
  background-color: #F8F9FA;
  display: grid;
  grid-template-columns: max-content auto max-content max-content;
  column-gap: 24px;
}

.table_month_container {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  column-gap: 26px;
  justify-content: center;
  align-items: center;
}

.event_impact_types_container {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  column-gap: 24px;
}

.row {
  display: flex;
  position: relative;
}

.col {
  min-width: 160px;
  border: 1px solid #DEE2E6;
  padding: 10px;
  border-collapse: collapse;
}

.data_col {
  min-height: 50px;
}

.header_col {
}

.header_row {
  position: sticky;
  top: 69px;
  background-color: #fff;
  z-index: 4;
}

.city_name_header {
  display: flex;
  align-items: center;
  position: sticky;
  left: 0px;
  background-color: #FFF;
  & div {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: capitalize;
    color: #868E96;
  }
}

.calendar_date_header {
  min-height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & .date {
    margin-top: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #212529;
    &.active {
      border: 1px solid;
      border-radius: 50%;
      padding: 10px;
    }
  }
  
  & .day {
    margin-top: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #868E96;
  }
}

.city_name_data {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  position: sticky;
  left: 0px;
  background-color: #FFF;
  z-index: 2;
}

.show_more_link {
  position: absolute;
  height: 36px;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1C7ED6;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-transform: capitalize;
  cursor: pointer;
}

.event {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;

  border-radius: 12px;

  position: absolute;
  display: grid;
  align-items: center;
  grid-template-columns: 15px auto;
  column-gap: 10px;
  
  padding: 8px 11px;
  color: #212529;

  &.start_overlapping {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  &.end_overlapping {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  &.event_mild {
    background-color: #FFE066;
  }
  
  &.event_modarate {
    background-color: #EFA17E;
  }
  
  &.event_high {
    background-color: #E899B2;
  }
  
  &.event_positive {
    background-color: #72B5A8;
  }
}

.event_name_container {
  display: grid;
  grid-template-columns: auto;
}

.sticky {
  position: fixed;
  top: 70px;
  width: 100%;
  background-color: #f8f9fa;
  z-index: 3;
}

.sticky_content {
  padding-top: 145px;
}

.event_type {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}

.event_impact_name_container {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 5px;
  align-items: center;
}
.color_dot {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
}